.l-contents{
	width: 100%;
	height: auto;
	&.-img{// 背景画像のみ
		width: 100%;
		height: auto;
	}
	&.-img-bg{// 背景画像＋コンテンツ
		position: relative;
		.imgBox{// 背景画像
			width: 100%;
			height: auto;
			&.-dummy{
				@include mq(tb){
					height: 150vh;
				}
			}
			&.-parallax{//パラドックス背景の場合、ここは透明画像
				justify-content: center;
				align-items: center;

				background-attachment: fixed;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				&.-parallax_bg{//ここに背景を指定する。
					@include mq(tb){
						background-image: url(../images/bg/top-content01_bg.png);
					}
				}
			}
		}
		.l-contentsBox{// コンテンツ要素
			width: 100%;
			position: absolute;
			// 完売タグ
			&.-kanbai_tag{
				top: 26%;
				left: 25.2%;
				transform: translate(-50%, -50%);
				width: 35%;
				padding: 0.5% 0.5% 0.5% 1%;
				margin: auto;
				background: rgb(255, 255, 255);
				text-align: center;
				letter-spacing: 3px;
				line-height: 1;
				border: 3px double rgb(41, 41, 41);
				@include mq(tb){
					top: 46%;
					left: 22.5%;
					width: 16%;
				}
				@include mq(tb-pc1000){
					width: 14%;
				}
				@include mq(tb-pc1500){
					top: 45%;
					left: 24%;
    				width: 12%;
					max-width: 230px;
				}
				@include mq(tb-pc1600){
					top: 45%;
					left: 26.5%;
    				width: 12%;
				}
				@include mq(tb-pc1850){
					left: 29.2%;
					width: 10%;
				}
			}


			&.-content-item{
				@include mq(tb){
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 70%;
					max-width: 1000px;
				}
				&_02{
					top: 15%;
					left: 50%;
					transform: translate(-50%, -50%);
					@include mq(tb){
						width: 70%;
						max-width: 1000px;
					}
				}
			}
			&.-kitchenTitle{
				@include mq(tb){
					top: 10%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&.-kitchenItem{
				@include mq(tb){
					top: 70%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&.-bathroomItem{
				@include mq(tb){
					top: 65%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&.-entranceItem{
				@include mq(tb){
					top: 70%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&.-content04-title,
			&.-content05-title{
				@include mq(tb){
					top: 5%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&.-content06-title{
				@include mq(tb){
					top: 10%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			&.-content06-sliderBox{
				@include mq(sp){
					top: 37%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}


			//サイト右側中段に表示 （PCのみ）
			&.-right-topBtn{
				top: 2.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 8% 23%;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-right-btmBtn{
				top: 52.5%;
				left: 50%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 8% 23%;
				}
			}
			//サイト下部に表示 （SPのみ）
			&.-bottom-rightBtn{
				top: 0%;
				left: 75%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 0% 24%;
				}
			}
			// サイト下部に表示（SPのみ）
			&.-bottom-leftBtn{
				top: 0%;
				left: 25%;
				transform: translateX(-50%);
				width: 100%;
				a{
					display: block;
					padding: 0% 24%;
				}
			}


			.l-contentsBox--wrapper{
				width: 100%;
				height: auto;
				@include mq(tb){
					width: 100%;
					max-width: 1315px;
					margin: auto;
				}
			}
			&.-text{
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	// 基本的にSliderは、「Slick or Swiper」を使用すること
	// 場所：「Scss/introduction内」
	&.-slider{
		//下記スマホ以上
		@include mq(tb){
		}
	}
	// 設備・仕様ページの【 戻る 】
	&.-btnArea{
		&.-return{
			a{
				display: block;
				width: 20%;
				border-radius: 5px;
				overflow: hidden;
				margin: auto;
				text-align: center;
				box-shadow: 1px 1px gray;
				@include mq(tb){
					width: 10%;
				}
				@include mq(tb-pc1400){
					width: 6%;
				}
			}
		}
	}
}


